body, html{
    margin:0px;
    padding:0px;
    
}

p, body, table
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

a img {
    border:0px;
    padding-right: 2px;
}

#container{

    width:1000px;
    margin:120px 0px 0px 15px;
   
}

#container.sticky{
    margin: 28px 0px 0px 15px;
}

#header {
    padding:10px;

    height: auto;
    position:fixed;
    top:0px;
    right:0px;
    left:0px;
    /* Background color and gradients */

    background: #014464;
    background: -moz-linear-gradient(top, #0272a7, #013953);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
    /* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0272a7, endColorstr=#013953);
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0272a7, endColorstr=#013953)";

    /* Borders */

    border-bottom: 1px solid #002232;

    /*margin-bottom:20px;*/

}

#header.sticky{
    display:none;
}

#footer{
    clear:both;
    border-top: #006666 1px solid;
    padding-top:10px;
    margin-bottom:60px;
    margin-top:10px;
    text-align:center;
    left:0px;
    right:0px;  
}

#leftMenu{
    float:left;
    width:100px;
}

#content{
    padding:1em;
    
}



#menu {
    position:fixed;
    top:69px;
    background:#013953;
    left:0px;
    right:0px;
    height:27px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height:21px;
    list-style:none;
    padding:0px 10px 0px 10px;
    border-top: 1px solid #002232;
    z-index:100;
}

#menu li {
    float:left;
    display:block;
    text-align:center;
    position:relative;
    padding: 2px 10px 4px 10px;
    margin-right:0px;
    margin-top:0px;
    border:none;
    z-index:100;
}

#menu li.menu_item {
    padding: 1px 10px 1px 10px;
}

#menu li.menu_item:hover {
    border: 0px;
    background-color: transparent;
     padding: 1px 10px 1px 10px;
}

#menu.sticky{
    position:fixed;
    top:0px;
}

#menu li:hover {
    border: 1px solid #777777;
    padding: 2px 9px 2px 9px;

    /* Background color and gradients */

    background: #F4F4F4;
    /*    background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));*/

    /* Rounded corners */

    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;

}

#menu li a {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color: #EEEEEE;
    display:block;
    outline:0;
    text-decoration:none;
    text-shadow: 1px 1px 1px #000;
}

#menu li:hover a {
    color:#161616;
    text-shadow: 1px 1px 1px #ffffff

}
#menu li {
    /* padding-right:21px; */
    /*	background:url("img/drop.png") no-repeat right 8px;*/
}
#menu li:hover {
    /* background:url("images/drop.png") no-repeat right 7px; */
}

.dropdown_1column,
.dropdown_2columns,
.dropdown_3columns,
.dropdown_4columns,
.dropdown_5columns {
    margin:4px auto;
    float:left;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:left;
    padding:10px 5px 10px 5px;
    border:1px solid #777777;
    border-top:none;

    /* Gradient background */
    background:#F4F4F4;
    /*    background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));*/

    /* Rounded Corners */
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

#menu li:hover .dropdown_1column,
#menu li:hover .dropdown_2columns,
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
    left:-1px;
    top:20px;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

#menu .menu_right {
    float:right;
    margin-right:20px;
}
#menu li .align_right {
    /* Rounded Corners */
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

#menu li:hover .align_right {
    left:auto;
    right:-1px;
    top:20px;
}

#menu p, #menu h2, #menu h3, #menu ul li {
    font-family:Arial, Helvetica, sans-serif;
    line-height:21px;
    font-size:12px;
    text-align:left;
    text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
    font-size:21px;
    font-weight:400;
    letter-spacing:-1px;
    margin:7px 0 14px 0;
    padding-bottom:14px;
    border-bottom:1px solid #666666;
}
#menu h3 {
    font-size:14px;
    margin:2px 0 2px 0;
    padding-bottom:0px;
    border-bottom:1px solid #888888;
}
#menu p {
    line-height:18px;
    margin:0 0 10px 0;
}

#menu p .line {
    height:10px;
    margin:5px 0px 0px 5px;
    border-bottom:1px solid #666666;
}

#menu li:hover div a {
    font-size:12px;
    color:#00293D;
    /*color:#015b86; */
}
#menu li:hover div a:hover {
    color:#0070A6;
    /*color:#029feb;*/
}

#menu ul.vert {
    list-style: none;
}

#menu ul.vert li {
    display:inline;
    float:left;
    width:auto;
    vertical-align: middle;
}

#menu ul.vert a {
    display:inline-block;
    padding-right: 15px;
    vertical-align: middle;
}

.strong {
    font-weight:bold;
}
.italic {
    font-style:italic;
}

.imgshadow { /* Better style on light background */
    background:#FFFFFF;
    padding:4px;
    border:1px solid #777777;
    margin-top:5px;
    -moz-box-shadow:0px 0px 5px #666666;
    -webkit-box-shadow:0px 0px 5px #666666;
    box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
    width:auto;
    float:left;
    margin:5px 15px 5px 5px;
}

#menu li .black_box {
    background-color:#333333;
    color: #eeeeee;
    text-shadow: 1px 1px 1px #000;
    padding:4px 6px 4px 6px;

    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* Shadow */
    -webkit-box-shadow:inset 0 0 3px #000000;
    -moz-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
    list-style:none;
    padding:0;
    margin:0 0 8px 0;
}
#menu li ul li {
    font-size:12px;
    line-height:24px;
    position:relative;
    text-shadow: 1px 1px 1px #ffffff;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:113px;
}
#menu li ul li:hover {
    background:none;
    border:none;
    padding:0;
    margin:0;
}

#menu li .greybox li {
    background:#F4F4F4;
    border:1px solid #bbbbbb;
    margin:0px 0px 4px 0px;
    padding:4px 6px 4px 6px;
    width:116px;

    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
    background:#ffffff;
    border:1px solid #aaaaaa;
    padding:4px 6px 4px 6px;
    margin:0px 0px 4px 0px;
}


/****************************************** OLD ****************************/
.noteclassic, .noteimportant, .notewarning, .notetip, .notetarget {
    margin: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 70% !important;
    min-height: 40px;
    clear: both;
    text-align: justify;
    /*  border-collapse: collapse;*/
    padding: 15px 20px 15px 80px;
    background-position: 20px 50%;
    background-repeat: no-repeat;
    -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.noteclassic {
    /*border: 1px solid #99D;*/
    background-color: #eef;
    background-image: url(../images/note.gif);
}

.noteimportant {
    /*border: 1px solid #ff0;*/
    background-color: #ffc;
    background-image: url(../images/important.gif);
}

.notewarning {
    /*border: 1px solid #d99;*/
    background-color: #fdd;
    background-image: url(../images/warning.gif);
}

.notetip {
    /*border: 1px solid #9d9;*/
    background-color: #dfd;
    background-image: url(../images/tip.gif);
}

.notetarget {
    /*border: 1px solid #99D;*/
    background-color: #eef;
    background-image: url(../images/bullseye_sm.gif);
}

.tablehead1 {
    /*border: 1px solid #99D;*/
    background-color: #eef;
}

.t1  
{ 
    font-size: 160%;
    font-family: Verdana;
    font-weight: normal;
}

.t1r 
{ 
    color: #c00;
    font-size: 160%;
    font-family: Verdana;
    font-weight: normal;
}

.t2 
{ 
    font-size: 150%;
    font-family: Verdana;
}

.t2r 
{ 
    color: red;
    font-size: 150%;
    font-family: Verdana;
}

.t3 
{ 
    font-size: 140%;
    font-family: Verdana;
    font-weight: bold;
}

.t4 
{ 
    font-size: 120%;
    font-family: Verdana;
    font-weight: bold;
}

.t4r 
{ 
    color: #c03;
    font-size: 120%;
    font-family: Verdana;
    font-weight: bold;
}

.t5 
{ 
    font-size: 100%;
    font-family: Verdana;
    font-weight: bold;
}

.t5a 
{
    font-size: 100%;
    font-family: Verdana;
    font-weight: bold;
}

#container a 
{
    color: #436976;
    text-decoration: none;
}

#container a:hover
{
    color: #000000;
    text-decoration: underline;
}

.big
{
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

td.leftline {
    border-left: 2px solid;
}

td.bottomline {
    border-bottom: 2px solid;
}

td.leftbottomline {
    border-left: 2px solid;
    border-bottom: 2px solid;
}


/*
 * SimpleModal Basic Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: basic.css 257 2010-07-27 23:06:56Z emartin24 $
*/

#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {height:300px; width:600px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(images/icons/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
