p, body, table
{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
}

.noteclassic, .noteimportant, .notewarning, .notetip, .notetarget {
  margin: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 70% !important;
  min-height: 40px;
  clear: both;
  text-align: justify;
  vertical-align: middle;
  border-collapse: collapse;
  padding: 15px 20px 15px 80px;
  background-position: 20px 50%;
  background-repeat: no-repeat;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}
 
.noteclassic  { background-color: #eef; background-image: url("images/note.gif") }
 
.noteimportant  { background-color: #ffc; background-image: url("images/important.gif") }
 
.notewarning  { background-color: #fdd; background-image: url("images/warning.gif") }
 
.notetip  { background-color: #dfd; background-image: url("images/tip.gif") }

.notetarget  { background-color: #eef; background-image: url("images/bullseye_sm.gif") }

.tablehead1 {
  /*border: 1px solid #99D;*/
  background-color: #eef; 
}
/* special headlines */
h1 
{ 
	font-size: 160%; 
	font-family: Verdana; 
	font-weight: normal; 
	margin-left: 0 
}
.weight1
{ 
	font-size: 160%; 
	font-family: Verdana; 
	font-weight: normal; 
	margin-left: 0 
}
h1r 
{ 
	color: #c00; 
	font-size: 160%; 
	font-family: Verdana; 
	font-weight: normal; 
	margin-left: 0 
}
.weight1r
{ 
	color: #c00; 
	font-size: 160%; 
	font-family: Verdana; 
	font-weight: normal; 
	margin-left: 0 
}
h2 
{ 
	font-size: 150%;
	font-family: Verdana; 
	font-weight: normal;  
	margin-left: 20px 
}
.weight2
{ 
	font-size: 150%;
	font-family: Verdana; 
	font-weight: normal;  
	margin-left: 20px 
}
h2r 
{ 
	color: red; 
	font-size: 150%;
	font-family: Verdana; 
	font-weight: normal; 
	margin-left: 0 
}
.weight2r
{ 
	color: red; 
	font-size: 150%;
	font-family: Verdana; 
	font-weight: normal; 
	margin-left: 0 
}
h3 
{ 
	font-size: 140%; 
	font-weight: bold; 
	margin-left: 40px; 
	border-bottom: medium none 
}
.weight3
{ 
	font-size: 140%; 
	font-weight: bold; 
	margin-left: 40px; 
	border-bottom: medium none 
}
h4 
{ 
	font-size: 120%; 
	font-weight: bold; 
	margin-left: 60px; 
	border-bottom: medium none 
}
.weight4
{ 
	font-size: 120%; 
	font-weight: bold; 
	margin-left: 60px; 
	border-bottom: medium none 
}
h4r 
{ 
	color: #c03; 
	font-size: 120%; f
	ont-weight: bold; 
	margin-left: 0; 
	border-bottom: medium none 
}
.weight4r
{ 
	color: #c03; 
	font-size: 120%; f
	ont-weight: bold; 
	margin-left: 0; 
	border-bottom: medium none 
}
h5 
{ 
	font-size: 100%; 
	ont-weight: bold; 
	margin-left: 0; 
	border-bottom: medium none 
}
.weight5
{ 
	font-size: 100%; 
	ont-weight: bold; 
	margin-left: 0; 
	border-bottom: medium none 
}
h5a 
{ 
	font-size: 100%; 
	font-weight: bold; 
	border-bottom: medium none 
}
.weight5a
{ 
	font-size: 100%; 
	font-weight: bold; 
	border-bottom: medium none 
}
